

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}
p {
    margin: 0px;
    padding: 2px;
}
#app {
    color: #eee;
    height: 100%;
    background: -webkit-radial-gradient(rgb(16, 173, 1), rgb(6, 110, 6), rgb(3, 82, 3)); /* Safari 5.1 - 6.0 */
    background: -o-radial-gradient(rgb(16, 173, 1), rgb(6, 110, 6), rgb(3, 82, 3)); /* Opera 11.6 - 12.0 */
    background: -moz-radial-gradient(rgb(16, 173, 1), rgb(6, 110, 6), rgb(3, 82, 3)); /* Firefox 3.6 - 15 */
    background: radial-gradient(rgb(14, 150, 2), rgb(6, 110, 6), rgb(3, 61, 3)); /* 标准的语法（必须放在最后） */
}
#test {
    width: 40%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 100;
}
#action {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 20%;
    z-index: 100;
}
#player1 {
    z-index: 0;
    width: 50%;
    height: 150px;
    position: absolute;
    bottom: 0px;
    left: 25%
}
#player2 {
    width: 200px;
    height: 150px;
    position: absolute;
    top: 35%;
    left: -25px;
    transform: rotateZ(90deg)
}
#player3 {
    width: 50%;
    height: 150px;
    position: absolute;
    top: 0px;
    left: 25%;
}
#player4 {
    width: 200px;
    height: 150px;
    position: absolute;
    top: 35%;
    right: -25px;
    transform: rotateZ(-90deg)
}



.card {
    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    background-color: #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    float: left;
    height: 90px;
    position: absolute;
    color: rgb(29, 29, 29);
    width: 60px;
}
  .card.fangp, .card.hongt { color: red; }
  .card.meih, .card.heit { color: rgb(27, 27, 27); }
  
  .card .corner { line-height: 1; overflow: hidden; position: absolute; text-align: center; }
  .card .corner span { display: block; font-size: 20px; font-weight: bold; }
  .card .corner .number { font-size: 18px;}
  .card .corner.top { left: 3px; top: 3px; }
  .card .corner.bottom { bottom: 3px; right: 3px; -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); }
  
  .card .suit { font-size: 30px; font-weight: bold; overflow: hidden; position: absolute; text-align: center; }

  .card .middle_center { left: 19px; top: 22px; }

/* 用于登录界面的样式*/
#login {
    margin: 0px;
    width: 100%;
    max-width: 400px;
    vertical-align: middle;
    padding: 0px;
}
.login input {
    width: 100%;
    border: 0px;
    border-bottom-width: 2px;
    height: 30px;
}
.login button{
    width: 90%;
    margin: 20px 5%;
    height: 40px;

}