{% extends "base.html" %}
{% block body %}
<div id="app">
    <h1>[[ message ]]</h1>
    <hr>
    <comp-player></comp-player>
    <comp-player></comp-player>
    <comp-player></comp-player>
    <comp-player></comp-player>
    
</div>

<template id="player">
    <div>
        <p>[[playerid ]]--[[roomid]]--[[ status ]]--mark:[[ mark ]]</p>
        <p>[[ puke ]]</p>
        用户id:<input type="text" v-model="playerid">
        <button type="button" @click="ready">Ready</button>
        <button type="button" @click="qiangzhuang(1)">抢</button>
        <button type="button" @click="qiangzhuang(0)">不抢</button>
        下注:<input type="text" v-model="xiazhu">
        <button type="button" @click="pai">下注</button>
        <button type="button" @click="show">Show</button>
        <hr>
    </div>
</template>
{% endblock %}
{% block scripts %}
<script>
var vm = new Vue({
    el: "#app",
    delimiters: ["[[", "]]"],
    data: {
      message: "Hello Vue!",
    },
    components:{
        'comp-player':{
            template: "#player",
            data(){
                return {
                    playerid: 1,
                    roomid: 2,
                    puke: "wating for puke",
                    status: 'ready',
                    mark: 0,
                    iszhuang: 0,
                    xiazhu: 1,
                    zhuang: null
                }
               
            },
            methods:{
                ready(){
                    self=this
                    $.get('/play?playerid='+this.playerid, function(data){
                        sucess: {
                            self.puke=data;
                            self.status='start'
                        }
                    })
                },
                pai(){
                    self=this
                    $.get('/xiazhu',data={
                        playerid: self.playerid,
                        xiazhu: self.xiazhu
                    }, function(data){
                        sucess: self.status='xiazhu ok'
                    })
                },
                show (){
                    self=this
                    $.get('/show',data={
                        playerid: self.playerid
                    }, function(data){
                        sucess: {
                            self.status = 'done'
                            self.mark = data
                        }
                    })
                },
                qiangzhuang: function(y){
                    self=this
                    $.get('/qiangzhuang?playerid='+this.playerid+'&qiangzhuang='+y,function(data){
                        self.zhuang = data
                    })
                }
            },
            delimiters: ["[[", "]]"]
        }
    }
  })
</script>
{% endblock %}
