<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>登录</title>
    <script src="../static/jquery.js"></script>
    <script src="../static/vue.js"></script>
    <link rel="stylesheet" href="../static/weui.min.css">
    <link rel="stylesheet" href="../static/phone.css">
</head>

<body>
    <div id="app">

    <p>欢迎登录</p>
    <hr>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div v-if="!isLogin" id="login">

        <div class="weui_cells_form">
        <form method="POST" class="login">
        <div class="weui_cell">
            <div class="weui_cell_hd">
                <label class="weui_label">Name:</label>
            </div>
            <div class="weui_cell_bd">
                    <input class="weui_input" type="text" name="username" v-model="username" placeholder="username">
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd">
                <label class="weui_label">Password:</label>
            </div>
            <div class="weui_cell_bd">
                    <input class="weui_input" type="password" name="password" v-model="password" placeholder="password">
            </div>
        </div>
        <a href="javascript:;" class="weui_btn weui_btn_primary" @click="login">Login</a>
    </form>
    </div>
    </div>
        <div v-else>
            <div class="weui_cells_form">
            <form>
                <a class="weui_btn weui_btn_primary" href="javascript:;" @click="createroom">Create Room</a>

            <div style="margin-top:18%" class="weui_cell">
                <div class="weui_cell_hd">
                    <label class="weui_label">房间号：</label>
                </div>
                <div class="weui_cell_bd">
                    <input class="weui_input" type="text" v-model="joinid">
                </div>
            </div>
            <a href="javascript:;" class="weui_btn weui_btn_primary" @click="joinroom(joinid)">Join Room</a>
            </form>
        </div>
    </div>
    </div>

    <script>
        var vm = new Vue({
            el: '#app',
            delimiters: ["[[", "]]"],
            data() {
                return {
                    msg: 'message',
                    username: null,
                    password: null,
                    isLogin: false,
                    joinid: null
                    }
            },
            methods:{
                login: function(){
                    var self = this
                    $.post('./loginmobile',data={username:self.username,password:self.password},
                    function(data){
                        complete:{
                            if (data !== 'error'){
                                self.isLogin = true
                            }else{
                                alert('登录失败')
                            }
                        }
                    })
                },
                createroom: function(){
                    $.get('../createroom',function(data){
                        complete:{
                            window.location.href='../phone'
                        }
                    })
                },
                joinroom: function(id){
                    $.get('../joinroom',data={roomid:id}, function(data){
                        complete:{
                            if (data==='ok'){
                                window.location.href='../phone'
                            }else{
                                alert('join faild')
                            }
                            
                        }
                    })
                }
            },
        })
    </script>
</body>
</html>